.login-page {
  width: 100%;
  min-height: 100vh;
  background: #f3f6f8;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 24px;
}

.login-card {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 34px;
  border-radius: 12px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.12);
  border: 1px solid #d1d5db;
}

.login-icon {
  width: 56px;
  height: 56px;
  margin: 0 auto 14px;
  border-radius: 8px;
  background: #1e3a5f;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
}

.login-card h1 {
  text-align: center;
  font-size: 22px;
  color: #001f3f;
  margin-bottom: 10px;
  font-weight: 700;
}

.login-card p {
  text-align: center;
  color: #334155;
  margin-bottom: 28px;
}

.login-card label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #001f3f;
  margin-bottom: 6px;
}

.login-card input {
  width: 100%;
  height: 42px;
  padding: 0 12px;
  margin-bottom: 12px;

  border: 1px solid #9ca3af;
  border-radius: 3px;
  font-size: 14px;
}

.erro {
  display: block;
  color: #b91c1c;
  font-size: 13px;
  margin-bottom: 14px;
}

.senha-box {
  position: relative;
}

.senha-box input {
  padding-right: 46px;
}

.olho {
  position: absolute;
  right: 8px;
  top: 6px;

  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-principal {
  width: 100%;
  height: 48px;
  margin-top: 8px;

  background: #002b5c;
  color: white;
  border: none;
  border-radius: 6px;

  font-weight: 700;
  cursor: pointer;
}

.btn-secundario {
  width: 100%;
  height: 44px;

  background: white;
  color: #002b5c;
  border: 2px solid #002b5c;
  border-radius: 6px;

  font-weight: 700;
  cursor: pointer;
}

.divisor {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 28px 0;
}

.divisor span {
  flex: 1;
  height: 1px;
  background: #d1d5db;
}

.divisor small {
  color: #475569;
}

.criar-conta {
  margin-top: 28px;
  margin-bottom: 0 !important;
}

.criar-conta button {
  background: transparent;
  border: none;
  color: #002b5c;
  font-weight: 700;
  cursor: pointer;
}

.cadastro-card {
  max-width: 500px;
}